body,html{
    height: 100%;
    color:white;
}
.login{
    background-image: url("images/banner-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
   
}


/* genel buton ayarları */

.button{
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding:10px;
    background: rgb(73,16,111);
    background: gradial-gradient(circle, rgba(73, 16, 111, 0.684) 22%, rgba(11, 78, 88, 0.782) 100%);
    text-decoration:none;
}
.button:hover{
    background: rgb(11,78,88);
    background: radial-gradient(circle, rgba(11,78,88, 0.684) 22%,  rgba(73, 16, 111, 0.782) 100%);
}
.orta{
    text-align: center;
    margin-top: 200px;
    margin-left: 400px;
    width:600px;
    height:400px;
    background-color: rgba(5, 5, 5, 0.821);
    border-radius: 10px;
}

.giris1, .giris2{
    width:500px;
    height:50px;
    border-radius: 10px;
}

.giris2{
    margin-top:70px;
}
.button{
    color:white;
    border: 1px solid white;
    margin-top:20px;
    border-radius: 10px;
    padding:10px;
    width:500px;
    background: rgb(73,16,111);
    background: radial-gradient(circle, rgba(11,78,88, 0.684) 22%,  rgba(73, 16, 111, 0.782) 100%);
    text-decoration:none;
}
.button:hover{
    background: rgb(11,78,88);
    background: radial-gradient(circle, rgba(11,78,88, 0.684) 22%,  rgba(73, 16, 111, 0.782) 100%);
}
.btn{
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding:10px;
    background: rgb(73,16,111);
    background: radial-gradient(circle, rgba(11,78,88, 0.684) 22%,  rgba(73, 16, 111, 0.782) 100%);
    text-decoration:none;
}
.box{
    
}