.box{
    float:left;
    width:200px;
    height:200px;
    background-color: red;
}
a{
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: 5px 15px;
    &:hover{
        background-color: yellow;
    }    
}




