/* banner */
body,html{
    height: 100%;
    color:white;
}
.banner{
    background-image: url("images/banner-bg.jpg");
    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.banner-baslik{
    border: 1px solid white;
    width: 215px;
    height: 40px;
    padding: 5px;
    background: rgb(73,16,111);
    background: radial-gradient(cirle, rgba(73,16,111, 0.684) 22%, rgba(11, 78,88, 0.782) 100%);
}

/* genel buton ayarları */

.button{
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding:10px;
    background: rgb(73,16,111);
    background: gradial-gradient(circle, rgba(73, 16, 111, 0.684) 22%, rgba(11, 78, 88, 0.782) 100%);
    text-decoration:none;
}
.button:hover{
    background: rgb(11,78,88);
    background: radial-gradient(circle, rgba(11,78,88, 0.684) 22%,  rgba(73, 16, 111, 0.782) 100%);
}
.banner .row{
    padding-top: 100px;
}
.banner h1{
    font-size:50px;
}
.banner img{
    width: 80%;
}
.satir1, .satir3 {
    background-image: url("images/arkaplan1.jpg");
}
.satir2 {
    background-image: url("images/arkaplan2.jpg");
}
.photo1,.photo2, .photo3{
    width:55%;
    border: solid 8px white;
}
.cizgi{
    width:100%;
    border:  solid 3px grey;
    background-color: rgba(128, 128, 128, 0.488);
}
footer{
    width:100%;
    background-color: rgb(39, 38, 38);
    overflow:hidden;
    padding:20px;
    text-align:center;
}
.footer-element{
    width:33%;
    float:left;
}
footer >.footer-element>h2{
    color:blue;
    padding:5px;
}
footer > .footer-element> .logo{
    color:white;
    width:25%;
    margin:auto;

}
footer > .footer-elemenet, .logo img{
    width:100%
}
footer > .footer-element >ul{
    list-style-type: none;

}
footer > .footer-element >ul >li{
    padding:5px;

}
footer > .footer-element >ul >li >a{
   text-decoration: none;
   color:white;
   font-size:20px;

}
hr {
    width:80%;
    border-style: solid;
    color: grey;
    border-width: 2px;
    margin:auto;
}