body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(12, 12, 12);
    z-index: 1;
    
  }

  .hero-image { 
    background-image: url("images/ancient.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation: scaleBackground 6s infinite alternate;
  }
  /* .hero-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    animation: scaleBackground 5s infinite alternate;
} */
.baris{
    font-family: 'Playfair', serif;
    font-size: 60px;
    color:goldenrod;
    z-index: 0;
}
@keyframes scaleBackground {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1.0);
    }
}
.ad{
    color:darkgray;
    font-size:25px;
    font-weight: bold;
    transition: all 1s ease;
}
.ad:hover{
    font-size:30px;
    color:darkgray;
}
.unvan{
    color:darkgray;
    font-size:15px;
    font-weight: bold;
}
.nav-item.dropdown .dropdown-menu .dropdown-item{
color:darkgray;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover{
    color: rgb(213, 182, 8);
}
.basliklar{
    color:#323233;
    font-size:20px;
}
.basliklar:hover, .basliklar:active , .basliklar:active{
    color: rgb(213, 182, 8);
}
.underline {
    width: 0;
    height: 2px;
    background-color: rgb(213, 182, 8); 
    transition: width 0.3s ease; 
}
.nav-item:hover .underline {
    width: 90%;
}
.satir1{
    /* background-image: url("images/satir1.jpg"); */
    background-size:cover;
    background-repeat: no-repeat;
}
.satir2{
    background-image: url("images/satir1.jpg");
    height:370px;
    background-repeat: no-repeat;
    width:100%;
}
.simge{
    width:300px;
    height:300px;
    
}
.hakbaslik, .unvan, .ad, .faaliyet{
    font-family: 'Castoro Titling', cursive;
}
.card{
    border:none;
    border-radius:0;
    height:250px; 
    width:85%; 
    margin:auto;
    box-shadow:0px 0px 20px black inset;
}
.faaliyet {
    margin-top: 10px;
    text-align: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cardname{
    text-align: center;
    color:black;
    font-family:cursive;
}
.list li{
    color:darkgrey;
}
.cards{
    width:200px;
    height:200px;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 50%;
} 
.uzmanliklar {
    position: relative;
    display: inline-block;
  }
  
  .alan {
    position: absolute;
    top: 50%; /* Metni dikey olarak resmin ortasına yerleştirir */
    left: 50%; /* Metni yatay olarak resmin ortasına yerleştirir */
    transform: translate(-50%, -50%); /* Metni kesirli pozisyonlama ile tam olarak ortalar */
    background-color: rgba(156, 153, 153, 0.347); /* Metnin arka plan rengi ve opaklığı */
    color: white; /* Metin rengi */
    padding: 10px 20px; /* Metin içeriği ile metin kutusu arasındaki boşluk */
    border-radius: 5px; /* Metin kutusunun köşe yuvarlama */
    opacity: 0; /* Başlangıçta metni gizle */
    transition: opacity 0.3s ease; /* Opaklık değerini değiştirirken geçiş efekti */
  }
  .uzmanliklar:hover .alan {
    opacity: 1; /* Resmin üzerine gelindiğinde metni göster */
  }
  .footeralani{
    background-image: url("images/white-painted-wall-texture-background.jpg");
}
.footerliste li{
    list-style: none;
    font-family:  'Playfair', serif;
    font-size: 40px;
    color:darkgoldenrod;
}
