/* banner */
body,html{
    height: 100%;
    color:white;
}
.banner{
    background-image: url("images/banner-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.banner-baslik{
    border: 1px solid white;
    width: 215px;
    height: 40px;
    padding: 5px;
    background: rgb(73,16,111);
    background: radial-gradient(cirle, rgba(73,16,111, 0.684) 22%, rgba(11, 78,88, 0.782) 100%);
}

/* genel buton ayarları */

.button{
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding:10px;
    background: rgb(73,16,111);
    background: gradial-gradient(circle, rgba(73, 16, 111, 0.684) 22%, rgba(11, 78, 88, 0.782) 100%);
    text-decoration:none;
}
.button:hover{
    background: rgb(11,78,88);
    background: radial-gradient(circle, rgba(11,78,88, 0.684) 22%,  rgba(73, 16, 111, 0.782) 100%);
}
.banner .row{
    padding-top: 100px;
}
.banner h1{
    font-size:50px;
}
.banner img{
    width: 80%;
}

.arkaplan1{

    background-image:url("images/arkaplan1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.arkaplan2{

    background-image:url("images/arkaplan2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.figure{
    border: 10px solid antiquewhite;
    height: 340px;
}
.figure img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:320px;
}
@media screen and (max-width:1200px){
   .banner{
    height: 180%;
    
   }
   .banner .row{
    padding-top:150px;
   }
        
    }